html, body {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #555;
    font: 14px/1.5 "hiragino sans gb", arial;
    background: #f4f4f4;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
a:focus, input:focus, p:focus, div:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-modify: read-write-plaintext-only
}
ul li {
    list-style: none
}
a {
    text-decoration: none
}
body, html, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}
img {
    max-width: 100%;
    max-height: 100%
}
.wrap {
    width: 100%;
    :hidden
}
.homepage {
    background-image: url(../images/1.jpeg);
    width: 100%;
    height: 100%;
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: 99;
    opacity: 1;
    transition: all 2s ease
}
@keyframes hide {
    0% {
        opacity: 1;
        display: block
    }
    100% {
        opacity: 0;
        display: none
    }
}
.homepage h2 {
    color: #9E9E9E;
    font-size: 1.2rem;
    position: fixed;
    width: 38%;
    height: 50px;
    bottom: 48px;
    right: 25px
}
.Pageload {
    width: 6rem;
    height: 6rem;
    position: absolute;
    right: 15%;
    top: 12%;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.7);
    display: none
}
.Pageload div {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.7)
}
.Pageload div:nth-child(1) {
    animation: Change 4s linear infinite;
    -webkit-animation: Change 4s linear infinite
}
.Pageload div:nth-child(2) {
    animation: Changemore 4s linear infinite;
    -webkit-animation: Changemore 4s linear infinite
}
.Pageload span {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 1.5rem
}
.Pageload span {
    -webkit-animation: ChangeColor 6s linear infinite
}
@keyframes Change {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
    50% {
        transform: scale(1.5);
        -webkit-transform: scale(1.5)
    }
    100% {
        transform: scale(1.5);
        -webkit-transform: scale(1.5)
    }
}
@-webkit-keyframes Change {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
    50% {
        transform: scale(1.5);
        -webkit-transform: scale(1.5)
    }
    100% {
        transform: scale(1.5);
        -webkit-transform: scale(1.5)
    }
}
@keyframes Changemore {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
    50% {
        transform: scale(1.5);
        -webkit-transform: scale(1.5)
    }
    100% {
        transform: scale(2);
        -webkit-transform: scale(2)
    }
}
@-webkit-keyframes Changemore {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
    50% {
        transform: scale(1.5);
        -webkit-transform: scale(1.5)
    }
    100% {
        transform: scale(2);
        -webkit-transform: scale(2)
    }
}
@-webkit-keyframes ChangeColor {
    0% {
        color: rgba(255, 255, 255, 0.7)
    }
    50% {
        color: #17E0D6
    }
    100% {
        color: white
    }
}
.Contextpage {
    position: absolute;
    background-image: url(../images/2.jpeg);
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-size: 100%;
    background-repeat: no-repeat
}
.Contextpage1 {
    position: absolute;
    width: 100%;
    height: 100%
}
.container {
    width: 100%;
    top: 0;
    position: absolute;
    bottom: 4.1rem;
    overflow-y: auto;
    list-style: none
}
.container li {
    width: 100%;
    float: left;
    color: rgba(255, 255, 255, 0.77);
    font-size: 1rem;
    height: 4.1rem;
    background: rgba(0, 0, 0, 0.33);
    box-sizing: border-box;
    border-bottom: 1px solid #9E9E9E
}
.footer-play {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4.1rem;
    box-sizing: border-box;
    box-shadow: 0 0 1.5rem #9e9e9e;
    border-top: 1px solid #9e9e9e
}
.ft-left {
    padding: 0.3rem 0.35rem 0.0001rem .35rem;
    width: 3.5em;
    float: left
}
.ft-middle {
    width: 45%;
    margin-left: 1%;
    float: left;
    margin-top: 0.8rem;
    display: inline-block;
    vertical-align: middle
}
.ft-rigth {
    position: absolute;
    width: 8.1rem;
    margin-left: 1%;
    margin-top: 1rem;
    right: 1rem;
    bottom: 1rem
}
.xmpname {
    color: white;
    font-weight: 400;
    font-size: .9rem
}
.xmpartist {
    color: white;
    font-size: .9rem
}
.icon-play {
    background: url(../images/play_play.png)
}
.icon-pause {
    background: url(../images/play_pause.png)
}
.icon-next {
    margin-left: 1rem;
    background: url(../images/play_next.png)
}
.ic-down {
    background: url(../images/1_02.png);
    margin-left: .8rem
}
.icon-tongyong {
    display: block;
    width: 2rem;
    height: 2rem;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    cursor: pointer
}
.Num {
    width: 3rem;
    height: 3rem;
    left: 0;
    text-align: center;
    line-height: 3rem;
    position: absolute
}
.SongN {
    padding: .3rem 3rem
}
.Contextpage-two {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate3d(0px, 100%, 0px);
    -webkit-transform: translate3d(0px, 100%, 0px);
    -moz-transform: translate3d(0px, 100%, 0px);
    -o-transform: translate3d(0px, 100%, 0px);
    height: 100%;
    overflow: hidden;
    background-image: url(../images/2.jpeg);
    background-repeat: no-repeat;
    background-size: 100%
}
@-webkit-keyframes moveup {
    0% {
        transform: translate3d(0px, 100%, 0px);
        -webkit-transform: translate3d(0px, 100%, 0px);
        -moz-transform: translate3d(0px, 100%, 0px);
        -o-transform: translate3d(0px, 100%, 0px)
    }
    100% {
        transform: translate3d(0px, 0%, 0px);
        -webkit-transform: translate3d(0px, 0%, 0px);
        -moz-transform: translate3d(0px, 0%, 0px);
        -o-transform: translate3d(0px, 0%, 0px)
    }
}
@keyframes moveup {
    0% {
        transform: translate3d(0px, 100%, 0px);
        -webkit-transform: translate3d(0px, 100%, 0px);
        -moz-transform: translate3d(0px, 100%, 0px);
        -o-transform: translate3d(0px, 100%, 0px)
    }
    100% {
        transform: translate3d(0px, 0%, 0px);
        -webkit-transform: translate3d(0px, 0%, 0px);
        -moz-transform: translate3d(0px, 0%, 0px);
        -o-transform: translate3d(0px, 0%, 0px)
    }
}
.T-content-one {
    position: absolute;
    opacity: 0.9;
    top: 0;
    color: rgba(255, 255, 255, 0.7);
    left: 0;
    width: 100%
}
.T-content-two {
    position: absolute;
    opacity: 0.9;
    top: 0;
    color: rgba(255, 255, 255, 0.7);
    left: 50%;
    width: 100%
}
